<div class="container">
  <div class="row">
    <div class="col-4">
      <p> Home</p>
    </div>
    <div class="col-4">
      <p> About</p>
    </div>
    <div class="col-4">
      <p> Possible Problems</p>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-4">
        <p> FAQ</p>
      </div>
      <div class="col-4">
        <p> How can we fix these problems?</p>
      </div>
      <div class="col-4">
        <p> Scams</p>
      </div>
    </div>
  <div class="row">
    <div class="col-4">
      <select >
        <option value="audi">Audi</option>
        <option value="mercerdes-benz">Mercedes-Benz</option>
        <option value="bmw">BMW</option>
      </select>
    </div>
    <div class="col-4">
      <select >
        <option value="jack">Jack</option>
        <option value="justin">Justin</option>
        <option value="stephanie">Stephanie</option>
      </select>
    </div>
    <div class="col-4">
      <select >
        <option value="fotnite">Fortnite</option>
        <option value="fifa18">FIFA18</option>
        <option value="doom">DOOM</option>
      </select>
    </div>